.globalTitleBox {
    margin-bottom: 1.23rem;
}

.listTitleBox {
    margin-bottom: 2.7rem;
}

.formWrap {
    text-align: start;
}

.cardText {
    line-height: 1.5;
    color: #2D2E46;
    opacity: 0.5;
    margin-bottom: 5.63rem;
}



.error{
    color: red;
    width: 100%;
    text-align: center;
}

.cardTextTop {
    padding-top: 1rem;
}

.buttonContainer {
    max-width: 16.6rem;
    margin: 0 auto 1.9rem;
}

.cardTextBottom {
    text-align: center;
    margin-bottom: 1rem;
}

.linkCardBottom {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'SFUIDisplaySemibold', sans-serif;
    font-size: 1rem;
    line-height: 2;
    color: #2F4F4F;
    border-radius: 1em;
    border-radius: 2rem;
}

.linkCardBottom:hover{
    border: 1px solid;
}