.linkCardList{
    display: inline-block;
    padding: 0 2.13rem;
    background: url('../../../src/la-0-assets/images/arrowLeft.png') center left  no-repeat;
    margin-bottom: 1.25rem;
}

.linkCardList:hover{
    opacity: .7;
}
