.globalTitleBox {
    margin-bottom: 1.23rem;
}

.listTitleBox {
    margin-bottom: 2.7rem;
}

.formWrap {
    text-align: start;
}
.listTitle {
     font-family: Poppins, sans-serif;
     font-weight: 600;
     font-size: 1.38rem;
     line-height: 1.5;
     color: #2D2E46;
 }


.cardText {
    line-height: 1.5;
    color: #2D2E46;
    opacity: 0.5;
    margin-bottom: 5.63rem;
    padding-top: 1rem;
}


.error{
    color: red;
    width: 100%;
    text-align: center;
}


.buttonContainer {
    max-width: 16.6rem;
    margin: 0 auto 1.9rem;
    margin-bottom: 2.1rem;
}